node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
dist
.git
.gitignore
.env
.env.*
!.env.prod
*.md
.vscode
.idea
coverage
__tests__
*.log
docs
.DS_Store
Dockerfile
docker-compose.yml
